<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="dev" class="org.wasif.Dev">
       <!-- <property name="age" value="12" />  -->
       <!-- <constructor-arg name="age" value="14" />  -->
        <property name="laptop" ref="lap1" />
    </bean>
    <bean id="dev1" class="org.wasif.Dev">
    </bean>
    <bean id="laptop" class="org.wasif.Laptop">
    </bean>
    <bean id="lap1" class="org.wasif.Laptop" >

    </bean>
</beans>